<div class="row">
  <div class="col-lg-2">
    <b>
      Lends:
    </b>
  </div>
  <div class="col-lg-10">
    <table class ="table table-hover">
      <thead>
        <th>Id.</th>
        <th>Lend Start</th>
        <th>Lend End</th>
        <th>Lender</th>
        <th>Status</th>
      </thead>
      <tbody>
        <tr *ngFor = "let l of lends">
          <td>{{l.id}}</td>
          <td>{{l.lendStart | date:'yyyy-MM-dd'}}</td>
          <td>{{l.lendEnd | date:'yyyy-MM-dd '}}</td>
          <td>{{l.person}}</td>
          <td>{{l.status.progress}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
<hr />
