<table class="table table-hover table-striped">
  <thead>
    <th>Id.</th>
    <th>Lend Start</th>
    <th>Lend End</th>
    <th>Person</th>
    <th>Status</th>
  </thead>
  <tbody>
    <tr>
      <td colspan="5" class="search_bar">
        here will be search components, figure out how to style it differently
      </td>
    </tr>
    <tr *ngFor = "let lend of allLends">
      <td>{{lend.id}}</td>
      <td>{{lend.lendStart | date:'yyyy-MM-dd'}}</td>
      <td>{{lend.lendEnd | date:'yyyy-MM-dd'}}</td>
      <td>{{lend.person}}</td>
      <td>{{lend.status.progress}}</td>
    </tr>
  </tbody>
</table>
