<table class="table table-hover table-striped">
  <thead>
    <th>Id.</th>
    <th>Car registration
      <span *ngIf = "!carRegSorted; else sortedReg">
        <span (click) = "sortCarRegAlphaOrder('reg')"
        class="fa fa-sort-alpha-asc"></span>
      </span>

      <ng-template #sortedReg>
        <span class="fa fa-sort-alpha-desc"
        (click)="sortcarRegReversAlphOrder()"></span>
      </ng-template>
    </th>
    <th>Car Name
      <span *ngIf = "!carNameSorted; else sortedName">
        <span (click) = "sortCarNameAlphOrder()"
        class="fa fa-sort-alpha-asc"></span>
      </span>

      <ng-template #sortedName>
        <span class="fa fa-sort-alpha-desc"
        (click)="sortCarNameReversAlphOrder()"></span>
      </ng-template>
    </th>

    <th>Lend Start
      <span *ngIf = "!lendStartSorted; else sortedStart"
       (click) = "sortLendStartAsc()"
       class= "fa fa-sort-amount-asc"></span>
     <ng-template #sortedStart>
       <span (click) = "sortLendStartDesc()"
       class="fa fa-sort-amount-desc"></span>
    </ng-template>
    </th>

    <th>Lend End
      <span *ngIf = "!lendEndSorted; else endStart"
       (click) = "sortLendEndAsc()"
       class= "fa fa-sort-amount-asc"></span>
     <ng-template #endStart>
       <span (click) = "sortLendEndDesc()"
       class="fa fa-sort-amount-desc"></span>
    </ng-template>
    </th>

    <th>Person</th>
    <th>Status</th>
  </thead>
  <tbody>
    <tr>
      <td colspan="7" class="search_bar">
        here will be search components, figure out how to style it differently
      </td>
    </tr>
    <tr *ngFor = "let lend of allLends">
      <td>{{lend.id}}</td>
      <td>{{lend.car.carRegistration}}</td>
      <td>{{lend.car.carName}}</td>
      <td>{{lend.lendStart | date:'yyyy-MM-dd'}}</td>
      <td>{{lend.lendEnd | date:'yyyy-MM-dd'}}</td>
      <td>{{lend.person}}</td>
      <td>{{lend.status.progress}}</td>
    </tr>
  </tbody>
</table>
