
   <br />
<table class="table">
  <thead>
  <tr>
    <th width="5%">Id.</th>
    <th width="15%">Mark
      <span *ngIf = "!names['mark']; else sortedMark">
        <span (click) = "oneFunction(
        wholeCarsList,
        'Alpha',
        true,
        'mark',
        'carName'
        )"
        class="fa fa-sort-alpha-asc"></span>
      </span>

      <ng-template #sortedMark>
        <span class="fa fa-sort-alpha-desc"
        (click)="oneFunction(
        wholeCarsList,
        'rAlpha',
        true,
        'mark',
        'carName'
        )"></span>
      </ng-template>
    <th width="15%">Registration
      <span *ngIf = "!names['registration']; else sortedRegistration">
        <span (click) = "oneFunction(
        wholeCarsList,
        'Alpha',
        true,
        'registration',
        'carRegistration'
        )"
        class="fa fa-sort-alpha-asc"></span>
      </span>

      <ng-template #sortedRegistration>
        <span class="fa fa-sort-alpha-desc"
        (click)="oneFunction(
        wholeCarsList,
        'rAlpha',
        true,
        'registration',
        'carRegistration'
        )"></span>
      </ng-template>
    </th>
    <th width="10%">Repairs
      <span *ngIf = "!names['repairs']; else filteredRepairs">
        <span (click) = "sortingFunction(
        wholeCarsList,
        'repairs',
        'repairs.status.progress',
        'in status',
        '2'
        )"
        class="fa fa-filter"></span>
      </span>

      <ng-template #filteredRepairs>
        <span class="fa fa-times-circle-o"
        (click)="clearSorting('repairs')"></span>
      </ng-template>
    </th>
    <th width="15%">Lends |
      <span *ngIf="lendsAllCars; else lendsFilter">
        <span
        (click)="leaveFreeCarsOnly()"
        class="glyphicon glyphicon-home" style = "color:green"></span>
        |
        <span
        (click)="leaveTakenCarsOnly()"
        class="glyphicon glyphicon-road" style = "color:blue"></span>
      </span> |
      <ng-template #lendsFilter>
        <span *ngIf="takenCars">
          <span
          (click)="leaveFreeCarsOnly()"
          class="glyphicon glyphicon-home" style = "color:green"></span> |
          <span class="label label-warning">
            <span
            class=" glyphicon glyphicon-road" style = "color:blue"></span>
          </span>
        </span>
        <span *ngIf="freeCars">
          <span class="label label-warning">
            <span
            class="glyphicon glyphicon-home" style = "color:green"></span>
          </span> |
          <span
          (click)="leaveTakenCarsOnly()"
          class="glyphicon glyphicon-road" style = "color:blue"></span>
        </span> |
        <span
        (click)="clearLendsFilters()"
        class="glyphicon glyphicon-remove-circle"></span>
      </ng-template>
    </th>
    <th width="10%">Checkouts
      <span *ngIf="!checkoutsFiltr"
      (click)="filterCarsWithoutCheckouts()"
        class="glyphicon glyphicon-filter">
      </span>
      <span *ngIf="checkoutsFiltr"
      (click)="clearCheckoutsFilter()"
        class="glyphicon glyphicon-remove-circle">
      </span>
    </th>
    <th width="10%">Insurances
      <span *ngIf="!insurancesFilter"
      (click)="filterCarsWithInsurances()"
      class="glyphicon glyphicon-filter">
    </span>
      <span *ngIf = "insurancesFilter"
      (click)="clearInsurancesFilter()"
      class="glyphicon glyphicon-remove-circle">
    </span>
    </th>
    <th width="10%">Tires
      <span *ngIf="!tiresFilter"
      (click)="filterCarsWithoutTires()"
      class="glyphicon glyphicon-filter">
      </span>
      <span *ngIf = "tiresFilter"
      (click)="clearTiresFilter()"
      class="glyphicon glyphicon-remove-circle"></span>
    </th>
  <tr>
  </thead>
</table>

<div class="row" *ngFor="let car of wholeCarsList">
  <accordion>
    <accordion-group>
      <div accordion-heading>
          <table width="100%">
            <tbody>
              <tr>
                <td width="5%">
                  <span class="glyphicon glyphicon-resize-vertical"></span>

                    {{car.id}}</td>
                <td width="15%">{{car.carName}}</td>
                <td width="15%">{{car.carRegistration}}</td>
                <td width="10%">
                  <div *ngFor="let rep of car.repairs">
                    <div *ngIf="rep.status.id==2">
                      <span class="glyphicon glyphicon-exclamation-sign" style="color:red"></span>
                    </div>
                  </div>
                </td>
                <td width="15%">
                    <div *ngIf="!car.lends.length>0">
                      <span class="glyphicon glyphicon-home" style="color:green"></span>
                  </div>
                    <div *ngFor="let lend of car.lends">
                      <div *ngIf="lend.status.id==2; else carFree">
                        <span class="glyphicon glyphicon-road" style="color:blue"></span>
                    </div>
                    <ng-template #carFree><span class="glyphicon glyphicon-home" style="color:green"></span></ng-template>
                  </div>
                </td>
                <td width="10%">
                  <div *ngFor="let ch of car.check">
                    <div *ngIf="ch.status.id==2">
                      <span class="label label-danger">!</span>
                    </div>
                  </div>
                </td>
                <td width="10%">
                  <div *ngFor="let ins of car.insurances">
                    <div *ngIf="ins.status.id==2">
                      <span class="label label-success">\/</span>
                    </div>
                  </div>
                </td>
                <td width="10%">
                  <div *ngFor="let tire of car.tires">
                    <div *ngIf="tire.status.id==2">
                      <span class="label label-warning">!</span>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

      <div>

        <app-car-details
          [pickedCar]="car"
        ></app-car-details>
      </div>
    </accordion-group>
  </accordion>
</div>
