
   <br />
<table class="table">
  <thead>
  <tr>
    <th width="5%">Id.</th>
    <th width="15%">Mark
      <span *ngIf="alphSortedNames"
        (click)="sortByCarNameAlphabeticaly()"
        class="glyphicon glyphicon-sort-by-alphabet">
      </span>
      <span *ngIf="!alphSortedNames"
      (click)="sortByCarNameReversedAlphabeticaly()"
      class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
    </th>
    <th width="15%">Registration
      <span *ngIf="alphSortedReg"
        (click)="sortByCarRegAlphabeticaly()"
        class="glyphicon glyphicon-sort-by-alphabet">
      </span>
      <span *ngIf="!alphSortedReg"
      (click)="sortByCarRegReversedAlphabeticaly()"
      class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
    </th>
    <th width="10%">Repairs
      <span *ngIf = "!filteredByRepairs"
      (click)="filterCarsWithPendingRepairsRepair()"
        class="glyphicon glyphicon-filter"></span>
        <span *ngIf = "filteredByRepairs"
        (click) = "clearRepairsFilter()"
        class="glyphicon glyphicon-remove-circle"></span>
    </th>
    <th width="15%">Lends |
      <span *ngIf="lendsAllCars; else lendsFilter">
        <span
        (click)="leaveFreeCarsOnly()"
        class="glyphicon glyphicon-home" style = "color:green"></span>
        |
        <span
        (click)="leaveTakenCarsOnly()"
        class="glyphicon glyphicon-road" style = "color:blue"></span>
      </span> |
      <ng-template #lendsFilter>
        <span *ngIf="takenCars">
          <span
          (click)="leaveFreeCarsOnly()"
          class="glyphicon glyphicon-home" style = "color:green"></span> |
          <span class="label label-warning">
            <span
            class=" glyphicon glyphicon-road" style = "color:blue"></span>
          </span>
        </span>
        <span *ngIf="freeCars">
          <span class="label label-warning">
            <span
            class="glyphicon glyphicon-home" style = "color:green"></span>
          </span> |
          <span
          (click)="leaveTakenCarsOnly()"
          class="glyphicon glyphicon-road" style = "color:blue"></span>
        </span> |
        <span
        (click)="clearLendsFilters()"
        class="glyphicon glyphicon-remove-circle"></span>
      </ng-template>
    </th>
    <th width="10%">Checkouts
      <span *ngIf="!checkoutsFiltr"
      (click)="filterCarsWithoutCheckouts()"
        class="glyphicon glyphicon-filter">
      </span>
      <span *ngIf="checkoutsFiltr"
      (click)="clearCheckoutsFilter()"
        class="glyphicon glyphicon-remove-circle">
      </span>
    </th>
    <th width="10%">Insurances</th>
    <th width="10%">Tires</th>
  <tr>
  </thead>
</table>

<div class="row" *ngFor="let car of wholeCarsList">
  <accordion>
    <accordion-group>
      <div accordion-heading>
          <table  class="table">
            <tbody>
              <tr>
                <td width="5%">{{car.id}}</td>
                <td width="15%">{{car.carName}}</td>
                <td width="15%">{{car.carRegistration}}</td>
                <td width="10%">
                  <div *ngFor="let rep of car.repairs">
                    <div *ngIf="rep.status.id==2">
                      <span class="glyphicon glyphicon-exclamation-sign" style="color:red"></span>
                    </div>
                  </div>
                </td>
                <td width="15%">
                    <div *ngIf="!car.lends.length>0">
                      <span class="glyphicon glyphicon-home" style="color:green"></span>
                  </div>
                    <div *ngFor="let lend of car.lends">
                      <div *ngIf="lend.status.id==2; else carFree">
                        <span class="glyphicon glyphicon-road" style="color:blue"></span>
                    </div>
                    <ng-template #carFree><span class="glyphicon glyphicon-home" style="color:green"></span></ng-template>
                  </div>
                </td>
                <td width="10%">
                  <div *ngFor="let ch of car.check">
                    <div *ngIf="ch.status.id==2">
                      <span class="label label-danger">!</span>
                    </div>
                  </div>
                </td>
                <td width="10%">
                  <div *ngFor="let ins of car.insurances">
                    <div *ngIf="ins.status.id==2">
                      <span class="label label-success">\/</span>
                    </div>
                  </div>
                </td>
                <td width="10%">
                  <div *ngFor="let tire of car.tires">
                    <div *ngIf="tire.status.id==2">
                      <span class="label label-warning">!</span>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      <div>
        <div class="col-lg-2">
          Details of car: {{car.carName}}
        </div>
        <div class="col-lg-10">
          <b>Repairs:</b>
          <hr />
          <table class="table table-hover">
            <thead>
              <th>Id.</th>
              <th>Date Start</th>
              <th>Date End</th>
              <th>Note</th>
              <th>Cost</th>
              <th>Status</th>
            </thead>
            <tbody>
              <tr *ngFor = "let r of car.repairs">
                <td>{{r.id}}</td>
                <td>{{r.dateStart | date:'yyyy-MM-dd'}}</td>
                <td>{{r.dateEnd | date:'yyyy-MM-dd '}}</td>
                <td>{{r.note}}</td>
                <td>{{r.cost}}</td>
                <td>{{r.status.progress}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </accordion-group>
  </accordion>
</div>
