<div class="row">
  <div class="col-lg-2">

    <b>Checkouts:</b>
  </div>
  <div class="col-lg-10">
    <table class="table table-hover">
      <thead>
        <th>Id.</th>
        <th>Date From</th>
        <th>Date To</th>
        <th>Note</th>
        <th>Status</th>
      </thead>
      <tbody>
        <tr *ngFor = "let c of checkouts">
          <td>{{c.id}}</td>
          <td>{{c.dateFrom | date:'yyyy-MM-dd'}}</td>
          <td>{{c.dateTo | date:'yyyy-MM-dd '}}</td>
          <td>{{c.note}}</td>
          <td>{{c.status.progress}}</td>
        </tr>
      </tbody>
    </table>

  </div>


</div>
<hr />
<br />
