<div style="background-color:lightgray">
  <b>Navigation:</b> | <a  [routerLink]="['/start']">Dashboard</a>
</div>
<form>
  <div class="well">
    <div class="row">
      <div class="col-lg-2">
        <b>Car Registration</b>
      </div>
      <div class="col-lg-4">
        <select name="cars" class="form-control" #car [(ngModel)]="selectedCar">
          <option *ngFor="let car of cars " [ngValue]="car">{{car.carRegistration}}</option>
        </select>
      </div>
      <div class="col-lg-4">

      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-lg-2">
          <b>Lend Start</b>

      </div>
      <div class="col-lg-4">
        <input class= "form-control" #startLend value="{{startDate | date:'yyyy-MM-dd'}}" required> <span class="fa fa-calendar" (click)="openModal(newLendStart)"></span>
      </div>

      <div class="col-lg-4">

      </div>
    </div>
      <hr />
    <div class="row">
      <div class="col-lg-2">
          <b>Lend End</b>
      </div>
      <div class="col-lg-4">
        <input #endLend class="form-control" value="{{endDate | date:'yyyy-MM-dd'}}" required> <span class="fa fa-calendar" (click)="openModal(newLendEnd)"></span>
      </div>

      <div class="col-lg-4">

      </div>
    </div>
      <hr />
    <div class="row">
      <div class="col-lg-2">
          <b>Person</b>
      </div>
      <div class="col-lg-4">
        <input #person class="form-control" required/>
      </div>

      <div class="col-lg-4">

      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-lg-2">
          <b>Status</b>
      </div>
      <div class="col-lg-4">
        <select name="status" class="form-control" #statsus [(ngModel)]="selectedStatus">
          <option *ngFor="let status of statuses " [ngValue]="status">{{status.progress}}</option>
        </select>
      </div>

      <div class="col-lg-4">

      </div>
    </div>
      <hr />
  </div>
  <button type = "submit" class="btn-primary"   (click)="addLend(selectedCar, startLend.value, endLend.value, person.value, selectedStatus)">Add Lend</button>
</form>
<hr />

<br /><br />
<div>


<ng-template #newLendStart>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div style="display:inline-block; min-height:290px;">
      <datepicker  [(ngModel)]="startDate"></datepicker>
      <button type="button" (click)="sendDateStart()">OK</button>
      <button type="button" (click)="modalRef.hide()">Cancel</button>
    </div>
  </div>
</ng-template>
<ng-template #newLendEnd>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div style="display:inline-block; min-height:290px;">
      <datepicker  [(ngModel)]="endDate"></datepicker>
      <button type="button" (click)="sendDateEnd()">OK</button>
      <button type="button" (click)="modalRef.hide()">Cancel</button>
    </div>
  </div>
</ng-template>



</div>
