

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Id.</th>
          <th>Car Name
            <span *ngIf = "!names['name']; else sortedName"
            class= "fa fa-sort-alpha-asc"
            (click) = "sortItems(allDocuments,'Alpha',false,'name','car.carName')">
          </span>
          <ng-template #sortedName>
            <span class="fa fa-sort-alpha-desc"
            (click) = "sortItems(allDocuments,'rAlpha',false,'name','car.carName')">
          </span>
          </ng-template>
          </th>
          <th>Car Registration
            <span *ngIf = "!names['registration']; else sortedReg"
            class="fa fa-sort-alpha-asc"
            (click) = "sortItems(allDocuments,'Alpha',false,'registration','car.carRegistration')">
          </span>
          <ng-template #sortedReg>
            <span class="fa fa-sort-alpha-desc"
            (click) = "sortItems(allDocuments,'rAlpha',false,'registration','car.carRegistration')">
          </span>
          </ng-template>
          </th>
          <th>Expiration Date
            <span *ngIf = "!names['expDate']; else sortedDate"
            class = "fa fa-sort-amount-asc"
            (click) = "sortItems(allDocuments,'dateAsc',false,'expDate','expirationDate')"></span>
            <ng-template #sortedDate>
              <span class="fa fa-sort-amount-desc"
              (click)="sortItems(allDocuments,'dateDesc',false,'expDate','expirationDate')"></span>
            </ng-template>
          </th>
          <th>Type</th>
          <th>Status
            <span *ngIf = "!names['status'];else filteredStatus"
            class = "fa fa-wrench"
            (click) = "filterItems(
            allDocuments,
            'status',
            'status.progress',
            'in status',
            1
            )"></span>
            <ng-template #filteredStatus><span
            class="fa fa-times-circle-o"
            (click)="clearSorting('status')"></span></ng-template>
          </th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td colspan="6" class="search_bar">
              here will be search components, figure out how to style it differently
            </td>
          </tr>
          <tr *ngFor = "let d of allDocuments">
            <td>
              {{d.id}}
            </td>
            <td>{{d.car.carRegistration}}</td>
            <td>{{d.car.carName}}</td>
            <td>{{d.expirationDate | date:'yyyy-MM-dd'}}
            </td>
            <td>{{d.type }}
            </td>
            <td>{{d.status.progress}} </td>
          </tr>
      </tbody>
    </table>
