

<div>
  <div class="col-lg-1">

  </div>
  <div class="col-lg-10">
    <div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
      Add items <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/addCar']">Add Car</a></li>
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/addRepair']">Add Repair</a></li>
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/addLend']">Add Lend</a></li>
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/addCheckout']">Add Checkout</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
      </li>
    </ul>
    </div>
  </div>
  <div class="col-lg-1">

  </div>

</div>

<br /><br /><br />

<!-- <div class="container">
  <app-dashboard></app-dashboard>
</div> -->
<div>

  <div class="col-lg-1">

  </div>
  <div class="col-lg-10">
    <router-outlet></router-outlet>
  </div>
  <div class="col-lg-1">

  </div>
</div>
