

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Id.</th>
          <th>Car Name</th>
          <th>Car Registration</th>
          <th>Date Start</th>
          <th>Date End</th>
          <th>Cost</th>
          <th>Ins. Company</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td colspan="8" class="search_bar">
              here will be search components, figure out how to style it differently
            </td>
          </tr>
          <tr *ngFor = "let i of allInsurances">
            <td>
              {{i.id}}
            </td>
            <td>{{i.car.carRegistration}}</td>
            <td>{{i.car.carName}}</td>
            <td>{{i.dateStart | date:'yyyy-MM-dd'}}
            </td>
            <td>{{i.dateEnd| date:'yyyy-MM-dd'}}
            </td>
            <td>{{i.cost }}
            </td>
            <td>{{i.insCompany}}
            </td>
            <td>{{i.status.status}} </td>
          </tr>
      </tbody>
    </table>
