



<div>
  <tabset>
    <tab>
      <template tabHeading>Cars in stock:
         <span class="label label-primary">{{wholeCarsListLength}}</span></template>
      <app-car-list></app-car-list>
    </tab>
    <tab>
      <template tabHeading>Repairs, pending:
         <span class="label label-primary">{{pendingRepairsNumber}}</span></template>
      <app-repairs-list></app-repairs-list>
    </tab>
    <tab>
      <template tabHeading>Lends:
         <span class="label label-success">free</span>
         <span class="label label-default">taken</span>
       </template>
      <app-lends-list></app-lends-list>
    </tab>
    <tab>
      <template tabHeading>Checkouts, pending:
         <span class="label label-primary">number</span>
       </template>
      <app-checkouts-list></app-checkouts-list>
    </tab>
    <tab>
      <template tabHeading>Insurances, pending:
         <span class="label label-primary">number</span>
       </template>
      <app-insurances-list></app-insurances-list>
    </tab>
    <tab>
      <template tabHeading>Tires, pending:
         <span class="label label-primary">{{pendingTiresNumber}}</span></template>
      <app-tire-list></app-tire-list>
    </tab>
    <tab>
      <template tabHeading>Documents, pending:
         <span class="label label-primary">number</span>
       </template>
       <app-document-list></app-document-list>
    </tab>
  </tabset>
</div>
