<div>
  <tabset>
    <tab>
      <template tabHeading>Cars in stock:
         <span class="label label-primary">{{wholeCarsListLength}}</span></template>
      <app-car-list></app-car-list>
    </tab>
    <tab>
      <template tabHeading>Repairs, pending:
         <span class="label label-primary">{{pendingRepairsNumber}}</span></template>
      <app-repairs-list></app-repairs-list>
    </tab>
    <tab heading="Lends">Static content 2</tab>
    <tab>
      <template tabHeading>

          <span class="glyphicon glyphicon-exclamation-sign"></span>

      </template>
    </tab>
  </tabset>
</div>
