

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Id.</th>
          <th>Date From</th>
          <th>Date To</th>
          <th>Note</th>
          <th>Cost</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td colspan="6" class="search_bar">
              here will be search components, figure out how to style it differently
            </td>
          </tr>
          <tr *ngFor = "let c of allCheckouts">
            <td>
              {{c.id}}
            </td>
            <td>{{c.dateFrom | date:'yyyy-MM-dd'}}
            </td>
            <td>{{c.dateTo| date:'yyyy-MM-dd'}}
            </td>
            <td>{{c.note}}
            </td>
            <td>{{c.cost }}
            </td>
            <td>{{c.status.status}} </td>
          </tr>
      </tbody>
    </table>
