

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Id.</th>
          <th>Car registration
            <span *ngIf = "!names['reg']; else sortedRegistration">
              <span (click) = "sortFunction(
              allCheckouts,
              'Alpha',
              false,
              'reg',
              'car.carRegistration'
              )"
              class="fa fa-sort-alpha-asc"></span>
            </span>

            <ng-template #sortedRegistration>
              <span class="fa fa-sort-alpha-desc"
              (click)="sortFunction(allCheckouts,
              'rAlpha',false,'reg','car.carRegistration'
              )"></span>
            </ng-template>
          </th>
          <th>Car Name
            <span id = "ins_mark_sort" *ngIf="!names['mark']; else markSorted"
            class ="fa fa-sort-alpha-asc"
            (click)="sortFunction(allCheckouts,
                  'Alpha',false,'mark','car.carName')"></span>
            <ng-template #markSorted>
              <span id = "ins_mark_sorted"
              class="fa fa-sort-alpha-desc"
              (click) = "sortFunction(allCheckouts,
              'rAlpha',false,'mark','car.CarName')"></span>
            </ng-template>
          </th>
          <th>Date From
            <span *ngIf = "!names['start']; else sortedStart">
              <span (click) = "sortFunction(
              allCheckouts,
              'dateAsc',
              false,
              'start',
              'dateStart'
              )"
              class="fa fa-sort-amount-asc"></span>
            </span>

            <ng-template #sortedStart>
              <span class="fa fa-sort-amount-desc"
              (click)="sortFunction(
              allCheckouts,
              'dateDesc',
              false,
              'start',
              'dateStart'
              )"></span>
            </ng-template>
          </th>
          <th>Date To
            <span *ngIf = "!names['end']; else sortedEnd">
              <span (click) = "sortFunction(
              allCheckouts,
              'dateAsc',
              false,
              'end',
              'dateEnd'
              )"
              class="fa fa-sort-amount-asc"></span>
            </span>

            <ng-template #sortedEnd>
              <span class="fa fa-sort-amount-desc"
              (click)="sortFunction(
              allCheckouts,
              'dateDesc',
              false,
              'end',
              'dateEnd'
              )"></span>
            </ng-template>
          </th>
          <th>Note</th>
          <th>Cost</th>
          <th>Status
            <span *ngIf = "!names['status'];else filteredStatus"
            class = "fa fa-wrench"
            (click) = "filterFunction(
            allInsurances,
            'status',
            'status.progress',
            'in status',
            1
            )"></span>
            <ng-template #filteredStatus><span
            class="fa fa-times-circle-o"
            (click)="clearSorting('status')"></span></ng-template>

          </th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td colspan="8" class="search_bar">
              here will be search components, figure out how to style it differently
            </td>
          </tr>
          <tr *ngFor = "let c of allCheckouts">
            <td>
              {{c.id}}
            </td>
            <td>{{c.car.carRegistration}}</td>
            <td>{{c.car.carName}}</td>
            <td>{{c.dateFrom | date:'yyyy-MM-dd'}}
            </td>
            <td>{{c.dateTo| date:'yyyy-MM-dd'}}
            </td>
            <td>{{c.note}}
            </td>
            <td>{{c.cost }}
            </td>
            <td>{{c.status.progress}} </td>
          </tr>
      </tbody>
    </table>
